<!DOCTYPE html>
<html lang="es-ES" id="root">
  <head>
    <title>Rails Inertia Svelte</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <%= stylesheet_link_tag "main" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'inertia' %>
    <%= inertia_ssr_head %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
